In [25]:
for i in range(1,6):
    for j in range(1,6):
        print('*',end="")
    print()

*****
*****
*****
*****
*****

In [45]:
for i in range(1,6):
    for j in range(1,i+1):
        print('*',end="")
    print()
print()  
print('##############')
print()
for i in range(1,6):
    for j in range(6,i,-1):
        print('*',end="")
    print()

*
**
***
****
*****

##############

*****
****
***
**
*

In [17]:
for i in range(1,6):
    for j in range(6,i,-1):
        print('*',end='')
    print()

*****
****
***
**
*

In [55]:
n=6
for i in range(1,n):
    for k in range(n-1,i,-1):
        print(" ",end='')
    for j in range(1,i+1):
        print('*',end='')
    print()

    *
   **
  ***
 ****
*****

In [63]:
n=6
for i in range(1,n):
    for j in range(n,i,-1):
        print(' ',end="")
    for i in range(i):
        print('*',end='')
    print()

     *
    **
   ***
  ****
 *****

In [85]:
n=5
for i in range(n,0,-1):
    for k in range(n-1,i-1,-1):
        print(' ',end='')
    for j in range(1,i+1):
        print('*',end='')
    print()

*****
 ****
  ***
   **
    *

     *
    ***
   *****
  *******
 *********

In [117]:
n=6
half = round(n/2)
for i in range(n):
    for j in range(i,half+1):
        print(' ', end ="")
    for k in range(i):
        print('*', end = "")
        i+=2
    for l in range(half,n+1):
        print(' ', end = "")
    print()

   *
  **
 ***
****
*****

In [161]:
n = 5
min_stars = 1
for i in range(n):
    for j in range(n - 1, i, -1):
        print(" ", end="")
    for k in range(min_stars):
        print("*", end="")
    min_stars += 2
    print()

    *
   ***
  *****
 *******
*********

*********
#*******
##*****
###***
####*

In [181]:
n = 5
min_stars = 1
for i in range(n):
    for j in range(n - 1, i, -1):
        print(" ", end="")
    for k in range(min_stars):
        print("*", end="")
    min_stars += 2
    print()
    
for i in range(n):
    for j in range(i):
        print(" ",end="")
    for k in range(i,n):
        print('*',end="")
    for l in range(n-1,i,-1):
        print('*',end="")
    print()

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [182]:
# 1****
# 22***
# 333**
# 4444*
# 55555

In [214]:
n=6
for i in range(1,n):
    for j in range(i):
        print(i,end="")
    for k in range(n-i-1):
        print('*',end="")
    print()

1****
22***
333**
4444*
55555

In [215]:
# 1****
# 12***
# 123**
# 1234*
# 12345

In [332]:
n=6
for i in range(1,n):
    for j in range(1,i+1):
        print(j,end="")
    for k in range(n-1,i,-1):
        print('*',end="")
    print()

1****
12***
123**
1234*
12345

In [333]:
# 55555
# 4444*
# 333**
# 22***
# 1****

In [357]:
a = 5
for i in range(a,0,-1):
    for j in range(i,0,-1):
        print(i,end="")
    for k in range(i,a):
        print("*",end="")
    print()

55555
4444*
333**
22***
1****

In [358]:
# 12345
# 1234*
# 123**
# 12***
# 1****

In [392]:
n = 5
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(j,end="")
    for k in range(i-1):
        print('*',end="")
    print()

12345
1234*
123**
12***
1****

In [420]:
# ****1
# ***22
# **333
# *4444
# 55555

In [422]:
n = 5

In [440]:
for i in range(n):
    for j in range(n-1,i,-1):
        print("*",end="")
    for k in range(i+1):
        print(i+1,end="")
    print()

****1
***22
**333
*4444
55555

In [441]:
# ****1
# ***21
# **321
# *4321
# 54321

In [561]:
for i in range(1,n+1):
    for j in range(n-i):
        print("*",end="")
    for k in range(i,0,-1):
        print(k,end="")
    print()
n = 5

****1
***21
**321
*4321
54321

In [562]:
n = 5  # Number of rows

for i in range(1, n + 1): 
    for j in range(n - i):  
        print("*", end="")
    for k in range(i, 0, -1):  
        print(k, end="")
    print()

****1
***21
**321
*4321
54321