In [25]:
for i in range(1,6):
    for j in range(1,6):
        print('*',end="")
    print()

*****
*****
*****
*****
*****

In [45]:
for i in range(1,6):
    for j in range(1,i+1):
        print('*',end="")
    print()
print()  
print('##############')
print()
for i in range(1,6):
    for j in range(6,i,-1):
        print('*',end="")
    print()

*
**
***
****
*****

##############

*****
****
***
**
*

In [17]:
for i in range(1,6):
    for j in range(6,i,-1):
        print('*',end='')
    print()

*****
****
***
**
*

In [55]:
n=6
for i in range(1,n):
    for k in range(n-1,i,-1):
        print(" ",end='')
    for j in range(1,i+1):
        print('*',end='')
    print()

    *
   **
  ***
 ****
*****

In [63]:
n=6
for i in range(1,n):
    for j in range(n,i,-1):
        print(' ',end="")
    for i in range(i):
        print('*',end='')
    print()

     *
    **
   ***
  ****
 *****

In [85]:
n=5
for i in range(n,0,-1):
    for k in range(n-1,i-1,-1):
        print(' ',end='')
    for j in range(1,i+1):
        print('*',end='')
    print()

*****
 ****
  ***
   **
    *

     *
    ***
   *****
  *******
 *********

In [117]:
n=6
half = round(n/2)
for i in range(n):
    for j in range(i,half+1):
        print(' ', end ="")
    for k in range(i):
        print('*', end = "")
        i+=2
    for l in range(half,n+1):
        print(' ', end = "")
    print()

   *
  **
 ***
****
*****

In [161]:
n = 5
min_stars = 1
for i in range(n):
    for j in range(n - 1, i, -1):
        print(" ", end="")
    for k in range(min_stars):
        print("*", end="")
    min_stars += 2
    print()

    *
   ***
  *****
 *******
*********

*********
#*******
##*****
###***
####*

In [181]:
n = 5
min_stars = 1
for i in range(n):
    for j in range(n - 1, i, -1):
        print(" ", end="")
    for k in range(min_stars):
        print("*", end="")
    min_stars += 2
    print()
    
for i in range(n):
    for j in range(i):
        print(" ",end="")
    for k in range(i,n):
        print('*',end="")
    for l in range(n-1,i,-1):
        print('*',end="")
    print()

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [182]:
# 1****
# 22***
# 333**
# 4444*
# 55555

In [214]:
n=6
for i in range(1,n):
    for j in range(i):
        print(i,end="")
    for k in range(n-i-1):
        print('*',end="")
    print()

1****
22***
333**
4444*
55555

In [215]:
# 1****
# 12***
# 123**
# 1234*
# 12345

In [332]:
n=6
for i in range(1,n):
    for j in range(1,i+1):
        print(j,end="")
    for k in range(n-1,i,-1):
        print('*',end="")
    print()

1****
12***
123**
1234*
12345

In [333]:
# 55555
# 4444*
# 333**
# 22***
# 1****

In [357]:
a = 5
for i in range(a,0,-1):
    for j in range(i,0,-1):
        print(i,end="")
    for k in range(i,a):
        print("*",end="")
    print()

55555
4444*
333**
22***
1****

In [358]:
# 12345
# 1234*
# 123**
# 12***
# 1****

In [392]:
n = 5
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(j,end="")
    for k in range(i-1):
        print('*',end="")
    print()

12345
1234*
123**
12***
1****

In [420]:
# ****1
# ***22
# **333
# *4444
# 55555

In [422]:
n = 5

In [440]:
for i in range(n):
    for j in range(n-1,i,-1):
        print("*",end="")
    for k in range(i+1):
        print(i+1,end="")
    print()

****1
***22
**333
*4444
55555

In [441]:
# ****1
# ***21
# **321
# *4321
# 54321

In [561]:
for i in range(1,n+1):
    for j in range(n-i):
        print("*",end="")
    for k in range(i,0,-1):
        print(k,end="")
    print()
n = 5

****1
***21
**321
*4321
54321

In [1]:
n = 5  # Number of rows

for i in range(1, n + 1): 
    for j in range(n - i):  
        print("*", end="")
    for k in range(i, 0, -1):  
        print(k, end="")
    print()

****1
***21
**321
*4321
54321

In [1]:
# 12345
# 1234*
# 123**
# 12***
# 1****

In [52]:
n = 5

In [64]:
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(j,end="")
    print()

12345
1234
123
12
1

In [65]:
for i in range(n, 0, -1):
    for j in range(1, n + 1):
        if j > i:
            print("*", end="")
        else:
            print(j, end="")
    print()

12345
1234*
123**
12***
1****

In [66]:
# ****1
# ***21
# **321
# *4321
# 54321

In [67]:
n = 5

In [69]:
for i in range(n,0,-1):
    print(i,end="")

54321

In [99]:
for j in range(1,n+1):

    for i in range(n,0,-1):
        if i > j:
            print("*",end="")
        else:
            print(i,end="")
    
    print()

****1
***21
**321
*4321
54321

In [101]:
# 55555
# *4444
# **333
# ***22
# ****1

In [119]:
n= 5
for i in range(n,0,-1): #5,4,3,2,1
    for j in range(1,n+1): # 0,1,2,3
        if j<n-i+1:
            print('*',end="")
        else:
            print(i,end="")
    print()

55555
*4444
**333
***22
****1

In [124]:
ur_table = 12

In [178]:
LIST = []
increment = 2
for i in range(1,ur_table-1):
    
    save_table=12*i
    increment+=2
    save_table_14=14*i
    print(f"12 x {i} = {save_table},{save_table_14}")
    LIST.append(save_table)
print(LIST)

12 x 1 = 12,14
12 x 2 = 24,28
12 x 3 = 36,42
12 x 4 = 48,56
12 x 5 = 60,70
12 x 6 = 72,84
12 x 7 = 84,98
12 x 8 = 96,112
12 x 9 = 108,126
12 x 10 = 120,140
[12, 24, 36, 48, 60, 72, 84, 96, 108, 120]

In [179]:
list_of_fourteen = []

In [180]:
INCREMENT = 2
for i in LIST:
    num = i + INCREMENT
    list_of_fourteen.append(num)
    INCREMENT += 2
print(list_of_fourteen)

[14, 28, 42, 56, 70, 84, 98, 112, 126, 140]

In [12]:
print(ord('A'))
print(chr(65))

65
A

In [6]:
# A****
# BB***
# CCC**
# DDDD*
# EEEEE

In [16]:
n = 6

In [27]:
for i in range(1,n):
    for j in range(i):
        print(chr(64+i),end="")
    for k in range(n,i+1,-1):
        print('*',end="")
    print()

A****
BB***
CCC**
DDDD*
EEEEE

In [28]:
# A****
# AB***
# ABC**
# ABCD*
# ABCDE

In [29]:
a = 6

In [33]:
for i in range(1,a):
    for j in range(i):
        print(chr(65+j),end="")
    for k in range(a-1,i,-1):
        print('*',end="")
    print()

A****
AB***
ABC**
ABCD*
ABCDE

In [34]:
# EEEEE
# DDDD*
# CCC**
# BB***
# A****

In [36]:
n = 5

In [46]:
for i in range(n,0,-1):
    for j in range(i):
        print(chr(64+i),end="")
    for k in range(n,i,-1):
        print('*',end="")
    print()

EEEEE
DDDD*
CCC**
BB***
A****

In [50]:
# ABCDE
# ABCD*
# ABC**
# AB***
# A****

In [121]:
for i in range(n):
    for j in range(n,i,-1):
        print(chr(70-j),end="")
    for k in range(i):
        print("*",end="")
    
    print()

ABCDE
ABCD*
ABC**
AB***
A****

In [114]:
for i in range(65,75):
    print(chr(i),end="")

ABCDEFGHIJ

In [122]:
#Input aaabbccd
#Output a3b2c2d1

In [127]:
Input = 'aaabbccd'

In [130]:
lIST = [i for i in Input]

In [146]:
lIST

['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd']

In [147]:
new_list=[]
for i in lIST:
    if i not in new_list:
        new_list.append(i)
new_list

['a', 'b', 'c', 'd']

In [164]:
counter = 0
final_list=[]
for i in range(len(new_list)):
    for j in range(len(lIST)):
        if i == j:
            counter+=1
    final_list.append(new_list[i])
    final_list.append(counter)
    
final_list

['a', 1, 'b', 2, 'c', 3, 'd', 4]

In [174]:
Input = "aaabbccd" 
lIST = list(Input)  
counter = 1  
result = ""  
for i in range(len(lIST) - 1):
    
    if lIST[i] == lIST[i + 1]:
        counter += 1  
    else:
       
        result += f"{lIST[i]}{counter}"
        counter = 1  

result += f"{lIST[-1]}{counter}"


result

a a
a a
a b
b b
b c
c c
c d

'a3b2c2d1'

In [175]:
len(Input)

8

In [171]:
count =0 
for i in Input:
    while i in range(len(Input)):
        count += 1
        print(count,i)
    count = 0

In [1]:
# ****1
# ***21
# **321
# *4321
# 54321

In [2]:
a = 5

In [48]:
for i in range(a):          #12345
    for j in range(a,0,-1): #54321
        if i < j-1:
            print('*',end="")
        else:
            print(j,end="")
    print()
    
    
# took me 48 attempts lol ..

****1
***21
**321
*4321
54321

In [49]:
# ****A
# ***BB
# **CCC
# *DDDD
# EEEEE

In [50]:
draw = 5

In [70]:
for i in range(1,draw+1): # 12345
    
    for k in range(draw,i,-1):
        print("*",end="")
        
    for j in range(i,0,-1): 
        print(chr(64+i),end="")
    print()

****A
***BB
**CCC
*DDDD
EEEEE

In [72]:
# ****A
# ***BA
# **CBA
# *DCBA
# EDCBA
draw = 5

In [86]:
for i in range(1,draw+1): # 12345
    
    for j in range(draw,0,-1):  # 54321
        if j>i:
            print("*",end="")
        else:
            print(chr(64+j),end="")
    print()

****A
***BA
**CBA
*DCBA
EDCBA

In [79]:
for i in range(65,70):
    print(chr(i),',',end="")

A ,B ,C ,D ,E ,

In [88]:
# EEEEE
# *DDDD
# **CCC
# ***BB
# ****A
draw = 5

In [108]:
for i in range(draw,0,-1):     #54321
    for j in range(draw,0,-1): #54321
        if j>i:
            print("*",end="")
        else:
            print(chr(64+i),end="")
    print()
    
    # critical thought unlocked felt like a level up got a click in the brain ..

EEEEE
*DDDD
**CCC
***BB
****A

In [109]:
# EDCBA
# *DCBA
# **CBA
# ***BA
# ****A

In [113]:
for i in range(draw,0,-1):    #54321
    for j in range(draw,0,-1):#54321
        if j>i:
            print("*",end="")
        else:
            print(chr(64+j),end="")
    print()

EDCBA
*DCBA
**CBA
***BA
****A

    *
   ***
  *****
 *******
*********
TEST

####*
###***
##*****
#*******
*********

In [200]:
TEST = 5
stars = 1
for i in range(TEST,0,-1):
    for j in range(i-1):
        print(' ',end="")
    for j in range(stars):
        print("*",end="")
    stars+=2
    print()

    *
   ***
  *****
 *******
*********

In [202]:
# 1 2 3 4 *
# 1 2 3 * 5
# 1 2 * 4 5
# 1 * 3 4 5
# * 2 3 4 5
draw = 5

In [226]:
for i in range(draw,0,-1):
    for j in range(1,draw+1):
        if i == j:
            print("* ",end="")
        else:
            print(j,"",end="")
    print()

1 2 3 4 *
1 2 3 * 5
1 2 * 4 5
1 * 3 4 5
* 2 3 4 5

In [227]:
# * 1 * 2 *
# 3 * 4 * 5
# * 6 * 7 *
# 8 * 9 *10
# *11 *12 *

In [18]:
number = 1

In [19]:
draw = 5

In [20]:
for i in range(draw):
    for j in range(draw):
        if j % 2 == 0:
            print(" * ",end="")
        else:
            print(number,end="")
            number+=1
    print()
    # i see now

 * 1 * 2 *
 * 3 * 4 *
 * 5 * 6 *
 * 7 * 8 *
 * 9 * 10 *

In [60]:
num = 1

for i in range(draw):
    
    if i % 2 == 0: # 0 1 2 3 4 
        for j in range(draw): 
            if j % 2 == 0:    
                print(" * ",end = "")
            else:
                print("",num,"",end = "")
                num+=1
    else:
        for j in range(draw):
            if j % 2 != 0:
                print(" * ",end="")
            else:
                print("",num,"",end="")
                num += 1
    print()   # lol my answer

 *  1  *  2  *
 3  *  4  *  5
 *  6  *  7  *
 8  *  9  *  10
 *  11  *  12  *

In [110]:
# textbook answer how silly

n = 5
x = 1
for i in range(1, n + 1):
    for j in range(1, n + 1):
        if (i + j) % 2 == 1:
            print(f"{x:2}", end="")
            x += 1
        else:
            print(" *", end="")
    print()

 * 1 * 2 *
 3 * 4 * 5
 * 6 * 7 *
 8 * 9 *10
 *11 *12 *

In [2]:
# practise 

# EEEEE
# *DDDD
# **CCC
# ***BB
# ****A

In [18]:
n = 5
for i in range(n,0,-1): # 5 4 3 2 1
    for k in range(n,i,-1):
        print("*",end="")
    for j in range(i):
        print(chr(64+i),end="")
    print()

EEEEE
*DDDD
**CCC
***BB
****A

In [20]:
# * A* B*
# C* D* E
# * F* G*
# H* I* J
# * K* L*

In [43]:
n = 5
inc = 1
for i in range(n):
    if i % 2 == 0:
        for j in range(n):
            if j % 2 == 0:
                print("* ",end="")
            else:
                print(chr(64+inc),end="")
                inc+=1
    else:
        for j in range(n):
            if j % 2 != 0:
                print("* ",end="")
            else:
                print(chr(64+inc),end="")
                inc+=1
    print()

* A* B*
C* D* E
* F* G*
H* I* J
* K* L*

In [32]:
z = 1
print(f"{z}", end="")
print(f"{z:2}", end="")
print(f"{z:2}", end="")
print(f"{5:5}", end="")
print(f"{z:7}", end="")

1 1 1    5      1

In [61]:
# * 0 0 0 * 0 0 0 *
# 0 * 0 0 * 0 0 * 0
# 0 0 * 0 * 0 * 0 0
# 0 0 0 * * * 0 0 0
# 0 0 0 0 * 0 0 0 0

In [90]:
num = 9
pos_start = 0
pos_end = num-1
for i in range(5):
    for j in range(num):
        if j == num // 2:
            print("* ",end="")
        elif j == pos_start and i == pos_start:
            print("* ",end="")
            pos_start+=1
        elif j == pos_end:
            print("* ",end="")
            pos_end -= 1
        else:
            print(0,end=" ")
    print()

* 0 0 0 * 0 0 0 *
0 * 0 0 * 0 0 * 0
0 0 * 0 * 0 * 0 0
0 0 0 * * * 0 0 0
0 0 0 0 * 0 0 0 0

In [1]:
# 1
# 1* 2
# 1* 2* 3
# 1* 2* 3* 4
# 1* 2* 3* 4* 5

In [7]:
n = 5
for i in range(2,n+2):
    for j in range(1,i):
        if j == 1:
            print(j,end="")
        else:
            print(f"* {j}",end="")    
    print()

1
1* 2
1* 2* 3
1* 2* 3* 4
1* 2* 3* 4* 5

In [8]:
# 1
# 3* 2
# 4* 5* 6
# 10* 9* 8* 7
# 11* 12* 13* 14* 15

In [11]:
num = 1
for i in range(2,n+2):
    if i % 2 == 0:
        for j in range(1,i):
            if j == 1:
                print(num,end="")
                num+=1
            else:
                print(f"* {num}",end="")
                num+=1
    else:
        num_rev = num+i-2
        for j in range(1,i):
            if j == 1:
                print(num_rev,end="")
                num+=1
                num_rev-=1
            else:
                print(f"* {num_rev}",end="")
                num+=1
                num_rev-=1
    print()

1
3* 2
4* 5* 6
10* 9* 8* 7
11* 12* 13* 14* 15

In [1]:
#  #
#  **
#  ###
#  ****
#  #####

In [15]:
n = 5
for i in range(n):
    for j in range(i+1):
        if i % 2 != 0:
            print("*",end= "")
        else:
            print("#",end="")
    print()

#
**
###
****
#####

In [16]:
# 1
# **
# 333
# ****
# 55555

In [22]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        if i % 2 != 0:
            print(i,end= "")
        else:
            print("*",end="")
    print()

1
**
333
****
55555

In [23]:
# 1
# **
# 123
# ****
# 12345

In [24]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        if i % 2 != 0:
            print(j,end= "")
        else:
            print("*",end="")
    print()

1
**
123
****
12345

In [25]:
# 1
# 1*
# 1*3
# 1*3*
# 1*3*5

In [37]:
a = 7
for i in range(2,a):
    for j in range(1,i):
        if j % 2 != 0:
            print(j,end="")
        else:
            print("*",end="")
    print()

1
1*
1*3
1*3*
1*3*5

In [38]:
# 1
# 2*
# 3*3
# 4*4*
# 5*5*5

In [53]:
a = 5
for i in range(1,a+1):
    for j in range(1,i+1):
        if j % 2 == 0:
            print("*",end="")
        else:
            print(i,end="")
    print()

1
2*
3*3
4*4*
5*5*5

In [55]:
# #####
# ****
# ###
# **
# #

In [58]:
n = 5 
for i in range(n,0,-1):
    for j in range(i):
        if i % 2 == 0:
            print("*",end="")
        else:
            print("#",end="")
    print()

#####
****
###
**
#

In [59]:
# #*#*#
# #*#*
# #*#
# #*
# #

In [61]:
n = 5
for i in range(n,0,-1):
    for j in range(i):
        if j % 2 != 0:
            print("*",end="")
        else:
            print("#",end="")
    print()

#*#*#
#*#*
#*#
#*
#

In [62]:
# 55555
# ****
# 333
# **
# 1

In [63]:
n  = 5 
for i in range(n,0,-1):
    for j in range(i):
        if i%2 == 0:
            print("*",end="")
        else:
            print(i,end="")
    print()

55555
****
333
**
1

In [64]:
# 12345
# ****
# 123
# **
# 1

In [70]:
a = 5
for i in range(a,0,-1):
    for j in range(1,i+1):
        if i % 2 == 0:
            print("*",end="")
        else:
            print(j,end="")
    print()

12345
****
123
**
1

In [1]:
# 1*3*5
# 1*3*
# 1*3
# 1*
# 1

In [9]:
n = 5
for i in range(n,0,-1):
    for j in range(1,i+1):
        if j % 2 != 0:
            print(j,end="")
        else:
            print("*",end="")
    print()

1*3*5
1*3*
1*3
1*
1

In [12]:
#     #
#    **
#   ###
#  ****
# #####

# &&&&#
# &&&**
# &&###
# &****
# #####

In [52]:
n = 5
for i in range(n):
    for j in range(n,i+1,-1):
        print(" ",end="")
    for k in range(i+1):
        if i % 2 == 0:
            print("#",end="")
        else:
            print("*",end="")
    print()

    #
   **
  ###
 ****
#####

In [53]:
# #
# *#
# #*#
# *#*#
# #*#*#

In [168]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        if i % 2 == 0:
            if j % 2 != 0:
                print("*",end="")
            else:
                print("#",end="")
        else:
            if j % 2 != 0:
                print("#",end="")
            else:
                print("*",end="")
    print()

#
*#
#*#
*#*#
#*#*#

In [1]:
# 1
# **
# 333
# ****
# 55555

#48

In [2]:
n = 5
for i in range(1,n+1):
    for j in range(1,i+1):
        if i % 2 != 0:
            print(i,end="")
        else:
            print("*",end="")
    print()

1
**
333
****
55555

In [3]:
# 1
# **
# 321
# ****
# 54321

#49

In [8]:
n = 5
for i in range(1,n+1):
    for j in range(i,0,-1):
        if i % 2 !=0:
            print(j,end="")
        else:
            print("*",end="")
    print()

1
**
321
****
54321

In [1]:
# 5
# **
# 345
# ****
# 12345

In [5]:
n = 5
for i in range(n,0,-1):
    for j in range(i,n+1):
        if i % 2 !=0:
            print(j,end="")
        else:
            print("*",end="")
    print()

5
**
345
****
12345

In [6]:
# 1
# *1
# 3*1
# *3*1
# 5*3*1

#pattern 51

In [17]:
n =5
for i in range(1,n+1):
    for j in range(i,0,-1):
        if i % 2 !=0:
            if j % 2 == 0:
                print('*',end="")
            else:
                print(j,end="")
        else:
            if j % 2 == 0:
                print('*',end="")
            else:
                print(j,end="")
    print()

1
*1
3*1
*3*1
5*3*1

In [2]:
#     1
#    *1
#   3*1
#  *3*1
# 5*3*1

# pattern 52

In [5]:
n = 5
for i in range(1,n+1):
    
    for k in range(n-i):
        print(" ",end="")

    for j in range(i,0,-1):
        if j % 2 != 0:
            print(j,end="")
        else:
            print("*",end="")
    print()

    1
   *1
  3*1
 *3*1
5*3*1

In [6]:
#     1
#    *2
#   3*3
#  *4*4
# 5*5*5

#pattern 52

In [10]:
n = 5
for i in range(1,n+1):
    for k in range(n,i,-1):
        print(" ",end="")
    for j in range(i,0,-1):
        if j% 2 !=0:
            print(i,end="")
        else:
            print("*",end="")
    print()

    1
   *2
  3*3
 *4*4
5*5*5

In [11]:
# #####
#  ****
#   ###
#    **
#     #

#pattern 53

In [35]:
n = 5
for i in range(n,0,-1):
    for k in range(i,n):
        print(" ",end="")
    for j in range(i):
        if i % 2 != 0:
            print("#",end="")
        else:
            print("*",end="")
    print()

#####
 ****
  ###
   **
    #

In [37]:
# #*#*#
# *#*#
# #*#
# *#
# #

#pattern 54

In [42]:
n = 5 
for i in range(n,0,-1):
    for j in range(i):
        if i % 2 != 0:
            if j % 2 != 0:
                print("*",end="")
            else:
                print("#",end="")
        else:
            if j % 2 != 0:
                print("#",end="")
            else:
                print("*",end="")
        
    print()

#*#*#
*#*#
#*#
*#
#

In [43]:
# 54321
# ****
# 321
# **
# 1

# pattern 56

In [76]:
n = 5
for i in range(n,0,-1):
    for j in range(i,0,-1):
        if i % 2 != 0:
            print(j,end="")
        else:
            print("*",end="")
    print()

54321
****
321
**
1

In [77]:
# 5*3*1
# *3*1
# 3*1
# *1
# 1

# PATTERN 57

In [106]:
n = 5 
for i in range(n,0,-1):
    for j in range(i,0,-1):
        if i % 2 == 0:
            if j % 2 == 0:
                print("*",end="")
            else:
                print(j,end="")
        else:
            if j % 2 == 0 :
                print("*",end="")
            else:
                print(j,end="")
    print()

5*3*1
*3*1
3*1
*1
1

In [2]:
#     #
#    **
#   ###
#  ****
# #####

# @@@@#
# @@@**
# @@###
# @****
# #####
#pattern 58

In [7]:
n = 5
for i in range(1,n+1):
    for j in range(n-1,i-1,-1):
        print(" ",end="")
    for k in range(i):
        if i % 2 != 0:
            print("#",end="")
        else:
            print("*",end="")
    print()

    #
   **
  ###
 ****
#####

In [1]:
#pattern 59
# #
# * #
# # * #
# * # * #

#!!!!!!!!!!!!!!

#       #
#     * #
#   # * #
# * # * #

In [23]:
n = 4

for i in range(1,n+1):
    
    for k in range(n,i,-1):
        print("",end=" ")
        
    for j in range(i):
        if i % 2 == 0:
            if j % 2 != 0:
                print("#",end=" ")
            else:
                print("*",end=" ")
        else:
            if j % 2 == 0:
                print("#",end=" ")
            else:
                print("*",end=" ")
    print()

   #
  * #
 # * #
* # * #

In [24]:
# pattern 60
# 1
# * *
# 3 3 3
# * * * *
# 5 5 5 5 5

In [28]:
n = 5
for i in range(1,n+1):
    for j in range(i):
        if i % 2 == 0 :
            print("*",end=" ")
        else:
            print(i,end=" ")
    print()

1
* *
3 3 3
* * * *
5 5 5 5 5

In [29]:
#pattern 61

# # # # # #
#  * * * *
#   # # #
#    * *
#     #

In [48]:
n = 5
for i in range(n,0,-1):
    for k in range(n+1,i,-1):
        print("",end="@")
    for j in range(i):
        if i % 2 == 0 :
            print("*",end=" ")
        else:
            print("#",end=" ")
    print()

@# # # # #
@@* * * *
@@@# # #
@@@@* *
@@@@@#

In [62]:
for i in range(n,0,-1):
    for k in range(n+1,i,-1):
        print(" ",end="")
    for j in range(i):
        if i % 2 == 0 :
            print("*",end=" ")
        else:
            print("#",end=" ")
    print()

 # # # # #
  * * * *
   # # #
    * *
     #

In [59]:
#  *   *
#   * *
#    *
#   * *
#  *   *

#  *###*
#  #*#*#
#  ##*##
#  #*#*#
#  *###*

In [82]:
n = 5
start = 1
end= n

for i in range(1,n+1):
    for j in range(1,n+1):
        if j == start:
            print("*",end="")
        elif j == end:
            print("*",end="")
        else:
            print("",end=" ")
    start +=1
    end-=1
    print()

*   *
 * *
  *
 * *
*   *

In [83]:
n = 5
for i in range(1, n + 1):
    for j in range(1, n + 1):
        if i == j or i + j == n + 1:
        if 2 == 2 or 1 + 5 == 5 + 1:
            print("*", end="")
        else:
            print(" ", end="")
    print()

*   *
 * *
  *
 * *
*   *

In [84]:
#   *
#   *
# *****
#   *
#   *

# pattern 69

In [148]:
n=5

for i in range(n):
    for j in range(n):
        if i == n//2 or j == n//2:
            print('*',end="")
        else:
            print("",end=" ")
    print()

  *
  *
*****
  *
  *

In [149]:
# *****
# *###*
# *###*
# *###*
# *****

In [176]:
n = 5
for i in range(1,n+1):
    for j in range(1,n+1):
        if i == 1 or i == n or j == 1 or j == n:
            print("*",end=" ")
        else:
            print("+",end=" ")
    print()

* * * * *
* + + + *
* + + + *
* + + + *
* * * * *